//submenu animation
@keyframes showMenu {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}

// pc版 條列menu
.menu {
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
    clear: both;
    top:105px;
    width: 220px;
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        display: none;
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &>ul {
            width: 100%;
            max-width: $container-max;
            margin: 0 auto;
        }
    }
    @include screen('mobile') {
        display: none;
    }
    // 預設選單 ul
    >ul {
        margin: 1em 1em 3em 0 ;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        // 第一層選單樣式
        >li {
            flex: 0 1 16%;
            >a {
                display: block;
                padding: .6em 1em .6em 2em;
                // min-height: 3em;
                font-weight: 500;
                line-height: 1.6em;
                // white-space: nowrap;
                color: $color-word;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                &:hover, &:focus{
                    background: $primaryColor;
                    color: #fff;
                }
            }


            &.hasChild {
                >a {
                    &:after {
                        content: '';
                        width: 4px;
                        height: 4px;
                        display: inline-block;
                        margin-left: 0.5em;
                        vertical-align: middle;
                        border: 2px solid lighten($color-word, 40);
                        transform: rotate(135deg);
                        border-bottom: none;
                        border-left: none;
                        margin-bottom: 0.2em;
                    }
                }
            }
            &:hover{
                >a {
                    &:after {
                        border: 2px solid #fff;
                        border-bottom: none;
                        border-left: none;
                    }

                }
            }

        }
        .active{
            a{
             background: $primaryColor;
             color: #fff; 
         }
         ul{
            a{
                background: #a7b9e2;
                color: #19367B;
            }
        }
    }
}
ul {
    li {
        position: relative;
        a {
            display: block;
            outline: none;
            text-decoration: none;
        }
        ul {
            display: none;
            overflow: visible;
            width: 99%;
            background: #a7b9e2;
            padding: 0;
            z-index: 999999;
            position: absolute;
            top: auto;
            left: 0;
            list-style: none;
            text-align: left;
            animation: showMenu 0.3s $cubic;
            font-size: 1em;
            border-radius: 5px;
            margin-left: 12px;
            &:before{
                content:'';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 12px 10px 0;
                border-color: transparent #a7b9e2 transparent transparent;
                position: absolute;
                top:16px;
                left:-12px;


            }
                // 第二層選單樣式
                li {
                    float: none;
                    padding: 0 8px;
                    a {
                        padding: 0.6em 1.2em;
                        color: arken($primaryColor, 5);
                        font-weight: 500;
                        border-bottom: solid 1px rgba(255, 255, 255, .8);
                        &:hover,
                        &:focus {
                            color: #000c28;
                        }
                    }
                    &:last-child{
                        a{
                         border:none;   
                     }
                 }
             }
             li.hasChild {
                >ul {
                    z-index: 999;
                }
                >a {
                    padding-right: 2em;
                    &:hover,
                    &:focus {
                        // background: #fff;
                        // color: arken($primaryColor, 50);
                        color:#000c28;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        right: 10px;
                        top: 1.3em;
                        width: 6px;
                        height: 6px;
                        border: 2px solid #fff;
                        transform: rotate(45deg);
                        border-bottom: none;
                        border-left: none;
                    }
                }
            }
            ul {
                top: 0;
                left: 100%;
                animation: none;
                font-size: 1em;
            }
        }
    }
}
}


.left_block{
    .menu {
        &.sticky {
            display: none;
        }
        >ul {
            display: block;
            text-align: left;
            >li{
                &.hasChild {
                    >a {
                        &:after {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
        ul{
            li{
                ul{
                    top: 0;
                    left: 100%;
                    animation: none;
                }
            }
        }
    }   
}

.mp{
    .menu{
        margin-top: 0;
        top:12vh;
    }
}