* {
    box-sizing: border-box;
}

html {
    // scroll-behavior: smooth;
}

body {
    background: url('../images/mp_bg.jpg')no-repeat left top;
    background-attachment: fixed;
    // background-size: cover;
    background-size: 100% auto!important;
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
    @include screen('mobile') {
        background: url('../images/mp_bg_s.jpg')no-repeat left top;
        background-size: 100% auto!important;
    }
}

// 最外圍預設為100%
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    background: #FFF;
    @include screen('mobile') {
        // background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}
.mp{
    background: rgba(255,255,255,0);
    // position: fixed;
    // top: 0px;
    // left: 0px;
    // width: 100%;
    // height: 100%;
    @include screen('mobile') {
        // background: url('../images/mp_bg_s.jpg')no-repeat center bottom;
        // background-size: auto 100vh;
    }
}

.main {
    // position: relative;
    // margin: 0 auto;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 {
        line-height: 1.25em;
        font-size: 1.65em;
    }
    >.container {
        // @include gutter(); //gutter 代表左右要留白
        display: flex;
    }
    .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
    }
    .left_block {
        // flex: none;
        // flex-basis: 220px;
        flex:1 1 260px;
        max-width: 260px;
        padding-bottom: 80px;
        // margin-right: 40px;
        &.hidden {
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        +.center_block {
            // flex: auto;
            flex: 1 1 calc(100% - 300px);
            // flex-basis: calc(100% - 300px);
            max-width: calc(100% - 300px);
            min-height: 100vh;
            // padding: 1.5em 0;
            padding: 0 0 3em 0;
        }
        @include screen('tablet') {
            display: none;
            +.center_block {
                // flex-basis: 100%;
                flex:1 1 100%;
                max-width: 100%;
                padding: 0 5% 20px;
            }
        }
        @include screen('xs_mobile') {
            +.center_block {
                // max-width: 85%;
                flex:1 1 auto;
                max-width: 100%;
                min-height: 88vh;
            }
        }
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    position: relative;
    >.container {
        // @include gutter(); //gutter 代表左右要留白
        display: flex;
    }
    .center_block {
        // flex: none;
        // flex-basis: 100%;
        flex: 1 1 100%;
        max-width: 100%;
    }
    .left_block {
        // flex: none;
        // flex-basis: 220px;
        flex:1 1 220px;
        max-width: 220px;
        // margin-right: 40px;
        // min-height: 100vh;
        background: #f5f5f5;
        padding-bottom: 60px;
        &.hidden {
            +.center_block {
                // flex: none;
                // flex-basis: 100%;
                flex:1 1 100%;
                max-width: 100%;
            }
        }
        +.center_block {
            // flex: auto;
            // flex-basis: calc(100% - 300px);
            flex:1 1 calc(100% - 220px);
            max-width: calc(100% - 220px);
            min-height: auto;
            padding: 25px 30px 20px 30px;
            min-height: 90vh;
        }
        @include screen('tablet') {
            display: block;
            +.center_block {
                // flex: none;
                // flex-basis: calc(100% - 300px);
                // max-width: calc(100% - 300px);
                // padding: 156px 0 0;
            }
        }
        @include screen('mobile') {
            display: none;
            +.center_block {
                // flex: none;
                // flex-basis: 100%;
                flex:1 1 100%;
                max-width: 100%;
                padding: 130px 5% 0;
            }
        }
    }
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
}

.hidden {
    display: none;
}