* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    @include screen('mobile') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}
.mp{
    background: url('../images/mp_bg.jpg')no-repeat right top;
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    @include screen('mobile') {
        background: url('../images/mp_bg_s.jpg')no-repeat center bottom;
        background-size: auto 100vh;
    }
}

.main {
    // position: relative;
    // margin: 0 auto;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 {
        line-height: 1.25em;
        font-size: 1.65em;
    }
    >.container {
        // @include gutter(); //gutter 代表左右要留白
        display: flex;
    }
    .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
    }
    .left_block {
        flex: none;
        flex-basis: 220px;
        max-width: 220px;
        margin-right: 40px;
        &.hidden {
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        +.center_block {
            flex: auto;
            flex-basis: calc(100% - 300px);
            max-width: calc(100% - 300px);
            min-height: 90vh;
            padding: 1.5em 0;
        }
        @include screen('tablet') {
            display: none;
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
                padding: 80px 5% 20px;
            }
        }
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    >.container {
        // @include gutter(); //gutter 代表左右要留白
        display: flex;
    }
    .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
    }
    .left_block {
        flex: none;
        flex-basis: 220px;
        max-width: 220px;
        margin-right: 40px;
        min-height: 100vh;
        background: #f5f5f5;
        &.hidden {
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        +.center_block {
            flex: auto;
            flex-basis: calc(100% - 300px);
            max-width: calc(100% - 300px);
            min-height: 90vh;
            padding: 136px 0 6em;
        }
        @include screen('tablet') {
            display: block;
            +.center_block {
                flex: none;
                flex-basis: calc(100% - 300px);
                max-width: calc(100% - 300px);
                padding: 136px 0 6em;
            }
        }
        @include screen('mobile') {
            display: none;
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
                padding: 130px 5% 6em;
            }
        }
    }
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
}

.hidden {
    display: none;
}